---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Search from "astro-pagefind/components/Search";
---


<!-- Search -->
<script>
  const searchdialog = document.getElementById('searchdialog') as HTMLDialogElement;
  const opensearch = document.getElementById('opensearch');
  const searchbar = document.getElementById('sitesearch') as HTMLInputElement;
  if (searchdialog && opensearch && searchbar) {
    function openSearch() {
      searchdialog.showModal();
      searchbar.focus();
    }
    opensearch.addEventListener('click', openSearch);
    document.addEventListener('keydown', (e) => {
      if (e.ctrlKey && e.key === 'k') {
        e.preventDefault();
        openSearch();
      }
    });
    searchdialog.addEventListener('click', (event) => {
      const rect = searchdialog.getBoundingClientRect();
      const isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
        rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
      if (!isInDialog) {
        searchdialog.close();
      }
    });
  }
</script>

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
    <div>
      <button
        class="btn-link"
        id="opensearch">
        Search
        <code class="shortcut">CTRL+K</code>
      </button>
    </div>
  </nav>

  <dialog id="searchdialog">
    <Search id="sitesearch" className="pagefind-ui" uiOptions={{ showImages: false, showSubResults: true }} />
  </dialog>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
  nav a, nav button {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

  button.btn-link {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:disabled {
      color: gray;
      text-decoration: none;
      cursor: not-allowed;
    }
  }

  dialog {
    max-width: 600px;
    max-height: 80vh;
    border-radius: 0.5em;
    border: 2px solid var(--dark-gray);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    padding: 1em;
    z-index: 50;

    &::backdrop {
      backdrop-filter: blur(1px);
    }
  }

  code.shortcut {
    font-size: 0.6em;
    border-radius: 0.5em;
  }

	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
